// ######## CORES ########
$darkblue: #25283d;
$purple: #7209b7;
$bege: #F2E9E4;
$text-color-default: grey;
$bg-dash-btn: #f75c03;
$darkblueblack: #212438;
$pink: #a40ec4;
$bege-l: #f5dbcb;
$bege-m: #d6d5b3;
$orange: #f75c03;
$form-title-color: #7d7f8c;
// ###########
$paleta01: #25283d;
$paleta02: #7209b7;
$paleta03: #F2E9E4;
$paleta04: #f75c03;
// ######### padding ############
$border-radius-default: 5px;
// ######### widths media query ########
$small: 360px;
$medium: 768px;
$large: 1000px;
$big-large: 1200px;
// ###############################