        @use 'variaveis' as v;
        @use 'mixin' as m;
        .base-paginas-galeria {
            width: 100%;
            // padding: 115px 20px 60px 20px;
            padding: 115px 0px 60px 0px;
            // color: white;
            & .box-apresentacao {
                display: grid;
                grid-template-areas: "titulo-hr" "p";
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                // background-color: green;
                // place-items: center;
                width: 100%;
                max-width: 1000px;
                margin: 0 auto 40px auto;
                padding: 20px 0;
                & .box-titulo-hr {
                    grid-area: titulo-hr;
                    & h2 {
                        margin-bottom: 15px;
                        padding-left: 35px;
                        // color: v.$paleta03;
                        // text-align: center;
                        // font-weight: 600;
                        // color: v.$bege-l;
                    }
                    & hr {
                        width: 50px;
                        border: 2px dashed v.$paleta04;
                        margin-bottom: 20px;
                        margin-left: 35px;
                    }
                }
                & p {
                    grid-area: p;
                    // margin-bottom: 50px;
                    // color: v.$bege-l;
                    padding: 0 35px;
                    // color: v.$paleta03;
                }
            }
            & .box-imgs {
                width: 100%;
                // max-width: 1100px;
                // height: 500px;
                padding: 10px;
                background-color: darken(v.$paleta02, 25);
                border-top: 1px solid darken($color: v.$paleta02, $amount: 19);
                border-bottom: 1px solid darken($color: v.$paleta02, $amount: 19);
                & .imgs {
                    display: grid;
                    margin: 10px auto;
                    max-width: 1000px;
                    // height: 80%;
                    // background-color: green;
                    row-gap: 10px;
                    & img {
                        width: 100%;
                        border-radius: 5px;
                        // opacity: .6;
                        // transition: opacity 700ms ease-in-out;
                        @include m.box-shadow;
                    }
                }
            }
        }
        
        @media (min-width: v.$medium) {
            .base-paginas-galeria .box-apresentacao {
                margin: 100px auto;
            }
            .base-paginas-galeria .box-imgs .imgs {
                margin: 30px auto;
                row-gap: 30px;
            }
        }
        
        @media (min-width: v.$large) {
            .base-paginas-galeria .box-apresentacao {
                place-items: center;
                grid-template-areas: "titulo-hr p";
                grid-template-columns: 25% 1fr;
                & .box-titulo-hr {
                    & h2 {
                        font-size: 30px;
                        margin-bottom: 10px;
                        padding-left: 0;
                        // background-color: red;
                    }
                    & hr {
                        margin-left: 4px;
                    }
                }
                // & p {
                //     // width: 600px;
                // }
            }
        }