@use 'variaveis' as v;
@use 'mixin' as m;
.l-servicos {
    width: 100%;
    padding: 115px 0px 60px 0px;
    &__apresentacao {
        width: 100%;
        max-width: 900px;
        // margin: 30px auto;
        // padding: 0px 35px;
        // background-color: red;
        &__title {
            // display: none;
            // text-align: center;
            padding-left: 35px;
            margin-bottom: 15px;
            // color: v.$bege-l;
        }
        & hr {
            width: 50px;
            border: 2px dashed v.$paleta04;
            margin-bottom: 20px;
            margin-left: 35px;
        }
        &__p {
            padding: 0px 35px;
            margin-bottom: 30px;
            // color: v.$bege-l;
        }
    }
    &__box-servicos {
        width: 100%;
        // min-height: 300px;
        padding: 50px 20px;
        // max-width: 900px;
        display: grid;
        place-items: center;
        background-color: darken(v.$paleta02, 25);
        border-top: 1px solid darken($color: v.$paleta02, $amount: 19);
        border-bottom: 1px solid darken($color: v.$paleta02, $amount: 19);
        &__inner-box-servicos {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            width: 100%;
            max-width: 770px;
            // height: 100%;
            // padding: 20px 10px;
            // background-color: green;
            // padding: 5px;
            gap: 50px;
            & .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 25px;
                width: 100%;
                max-width: 360px;
                border-radius: 5px;
                height: 450px;
                background-color: white;
                @include m.box-shadow;
                // opacity: .6;
                // transition: opacity 700ms ease-in-out;
                & .svg {
                    width: 120px;
                    height: 120px;
                    // border: 2px solid v.$paleta04;
                    // border-radius: 50%;
                    margin: 0 auto 10px auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 80%;
                    // background-color: orange;
                }
                & .svg01 {
                    background-image: url(../_imgs/impressora2orange.png);
                }
                & .svg02 {
                    background-image: url(../_imgs/boneca3.png);
                }
                & .svg03 {
                    background-image: url(../_imgs/logotipo-svg.png);
                }
                & .svg04 {
                    background-image: url(../_imgs/vicio-em-midia-social2.png);
                }
                & h3 {
                    // color: v.$paleta04;
                    color: lighten($color: v.$paleta04, $amount: 13);
                    margin-bottom: 15px;
                    font-size: 24px;
                    line-height: 1.1em;
                    letter-spacing: 0.50px;
                }
                & hr {
                    width: 50px;
                    border: 2px dashed lighten($color: v.$paleta04, $amount: 10);
                    margin-bottom: 15px;
                }
                & p {
                    color: lighten($color: v.$paleta04, $amount: 10)
                }
            }
        }
    }
}

@media (min-width: v.$medium) {
    .l-servicos {
        &__apresentacao {
            margin: 100px auto;
        }
        &__box-servicos__inner-box-servicos {
            // background-color: red;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

// CLASSE CHAMADA EM EFEITO-OPACIDADE.JS